.App{
  display: grid;
  place-items: center;
  background-color: #042E5E;
  height: 100vh;
}

.app_body{
  display: flex;
  background-color: #ededed;
  /*background-color: #ededed;*/
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 5px 10px 5px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.bg-night-app{
  background-color: #ececec;
}